<p-panel header="Clientes">

  <form [formGroup]="formulario" (ngSubmit)="consultar()" name="form">

    <div class="ui-md-12">

      <div class="ui-md-3">
        <label for="nome">Nome:</label>
        <input id="nome" type="text" pInputText
          formControlName="nome"
          autocomplete="off"
          class="ui-inputtext ui-widget">
      </div>


      <div class="ui-md-12">
        <p-button label="consultar" (click)="consultar()" ></p-button>
        <p-button label="Incluir" style="margin-left: 15px;"></p-button>
      </div>

    </div>

  </form>

</p-panel>

<br>
<br>

<p-table [value]="clientes">
  <ng-template pTemplate="header">
      <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>CEP</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
      <tr>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.cpf}}</td>
          <td>{{cliente.cep}}</td>
      </tr>
  </ng-template>
</p-table>
